html {
  height: 100%;
  font: 16px / 1 sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
}

h1.intro {
  color: blue;
}

strong.important {
  color: red;
}

strong.about {
  color: blue;
}

em.about {
  color: blue;
}

div.blockquote {
  background-color: white;
  margin: 20px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(94, 90, 90);
  font-style: italic;
  font-size: 1.3rem;
}

nav {
  background-color: red;
  min-height: 4.2rem;
}

nav li {
  line-height: 4rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav,
ul,
li {
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  display: flex;
  margin-left: 5rem;
}
